@model IEnumerable<SistemaRepuesto.Models.InventarioArticulo>

@{
    ViewBag.Title = "CatalogoProductos";
}

<div class="card o-hidden border-0 shadow mb-2">
    <div class="card-body">
        <h2 class="card-title text-primary">Catalogo Productos</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row offset-1">
        @foreach (var prod in Model)
        {
            <div class="card o-hidden border-bottom-primary shadow-lg my-3" style="width:10rem;">
                <img src="~/Content/Imagenes/@prod.ArtImagen" class="card-img-top w-100 h-50"/>
                <div class="card-body">
                    @Html.ActionLink(prod.Descripcion,"Details", new { id = prod.Id_Articulo }, new { @class = "card-text" })
                </div>
            </div>
        }
    </div>
</div>

<p>
    @Html.ActionLink(" Back to List", "Index", null, new { @class = "fa fa-home" })
</p>
